*{
    margin: 0;
    padding: 0;
}

/* * header */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header > div nav{
    display: flex;gap: 2vw;
}
header div nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.658);
}
a:hover{
    color: rgba(0, 0, 0, 0.948);
    padding-bottom: 0.5vw;
    border-bottom: 4px solid hsl(136, 64%, 51%);
}
button{
    background-image: linear-gradient(to bottom, hsl(136, 64%, 51%),hsl(192, 69%, 51%));
    padding: 0.8vw 2vw;
    border-radius: 5vw;
    border: none;
    color: white;
}