*{
    margin: 0;
    padding: 0;
}

/* * header */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vw 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    z-index: 100;
}
header > div nav{
    display: flex;gap: 2vw;
}
header div nav a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.658);
}
a:hover{
    color: rgba(0, 0, 0, 0.948);
    padding-bottom: 0.5vw;
    border-bottom: 4px solid hsl(136, 64%, 51%);
}
button{
    background-image: linear-gradient(to bottom, hsl(136, 64%, 51%),hsl(192, 69%, 51%));
    padding: 0.8vw 2vw;
    border-radius: 5vw;
    border: none;
    color: white;
}
/* * main */

/* ? les comment li ki t3awdo  */
p{
    line-height: 2vw;
    color: rgba(0, 0, 0, 0.551);
}
/* ^ hero-section */
.hero-section{
    display: flex;
    padding-left: 12vw;
}
/* ~ left-hero */
.left-hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5vw;
    
}
.left-hero h1{
    width: 60%;
}
.left-hero p{
    width: 85%;
}
/* ~ right-hero */
.right-hero{
    width: 100%;
    background-image: url(../images/bg-intro-desktop.svg);
    background-size:auto;
    background-repeat: no-repeat; 
    background-position: left ;
    height: 100vh;
    padding-right: 150px;
}
.right-hero .phons{
    position: relative;
    height: 450px;
    overflow: hidden;
    right: -150px;
    /* bottom: 70px; */
}
.right-hero .sticky{
    width: 100%;
    position:absolute;
    right: -70px;
    top: -70px;    
}
/* ^ secound section */
.secound-section{
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: grid;
    gap: 10vw;
    padding-inline: 12vw;
    background-color: #f4f5f7;
}
.secound-section .type{
    width: 55%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1vw;
}
.secound-section .box{
    display: flex;
    gap: 2vw;
}
.secound-section .box .cart{
    display: grid;
    gap: 1vw;
}
.secound-section .box .cart h3{
    text-transform: capitalize;
}
.secound-section .box .cart img{
    width: 25%;
}
/* ^ section three */
.section-three{
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-inline: 12vw;
    display: grid;
    gap: 3vw;
}
.section-three .box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2vw;
}
.section-three .box .cart{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.section-three .box .cart img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.section-three .box .cart span{
    font-size: x-small;
    color: rgba(0, 0, 0, 0.551);
}
.section-three .box .cart div{
    padding: 2vw;
    display: grid;
    gap: 0.5vw;
}
.section-three .box .cart div p{
line-height: normal;
}